@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;600;700&display=swap');

* {
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
}

body {
  margin: 0;
  font-family: 'Outfit', sans-serif;
  background: #ffffff;
  overscroll-behavior: none;
}
